@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@media screen and (max-width: 900px) {
  .mobile_header {
    width: 100vw;
    height: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #2a2b30;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    /* Style the label to look like a hamburger icon */
    /* Show the menu when the checkbox is checked */
  }
  .mobile_header h1 {
    width: 100%;
    height: fit-content;
    font-size: 3.4rem;
    color: #dfdfdf;
    text-align: center;
    font-family: "Roboto Serif", serif;
    font-weight: bold;
    z-index: 100;
  }
  .mobile_header #menu-toggle {
    display: none;
  }
  .mobile_header .hamburger-menu {
    cursor: pointer;
    width: 30px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .mobile_header .hamburger-menu span {
    height: 2px;
    background: #ababab;
    display: block;
  }
  .mobile_header #menu-toggle:checked ~ .nav_container {
    display: block;
    transform: translate(0, 0);
    transition: all 0.3s ease-in-out;
  }
  .nav_container {
    width: 40vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #2a2b30;
    transform: translate(-100%, 0);
    transition: all 0.3s ease-in-out;
    z-index: 200;
  }
  .nav_container .profile_image_container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .nav_container .profile_image_container img {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: 1;
  }
  .nav_container .profile_image_container h1 {
    display: none;
  }
  .nav_container nav {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    padding: 20px 0 20px 0;
  }
  .nav_container nav .nav_item_container {
    grid-row: span 1;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 0 0 20%;
  }
  .nav_container nav .nav_item_container a {
    text-align: left;
    text-decoration: none;
    color: #ababab;
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
    vertical-align: bottom;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .nav_container nav .nav_item_container a:hover {
    color: #dfdfdf;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  .nav_container nav .nav_item_container .icon {
    width: fit-content;
    font-family: "Material Symbols Outlined", sans-serif;
    font-size: 3rem;
    vertical-align: middle;
    font-weight: 200;
    color: #ababab;
  }
  .main_container {
    width: 100vw;
    height: 92vh;
    position: relative;
    left: 0;
    top: 8vh;
    padding: 0;
  }
}
@media screen and (min-width: 900px) {
  .mobile_header {
    display: none;
  }
  .nav_container {
    width: 15vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #2a2b30;
  }
  .nav_container .profile_image_container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .nav_container .profile_image_container img {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: 1;
  }
  .nav_container .profile_image_container h1 {
    width: 100%;
    height: fit-content;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 10px 0 10px 0;
    font-size: 2.4rem;
    color: #dfdfdf;
    text-align: center;
    font-family: "Roboto Serif", serif;
    font-weight: 200;
    background-color: rgba(0, 164, 224, 0.7176470588);
    z-index: 100;
  }
  .nav_container nav {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    padding: 20px 0 20px 0;
  }
  .nav_container nav .nav_item_container {
    grid-row: span 1;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 0 0 20%;
  }
  .nav_container nav .nav_item_container a {
    text-align: left;
    text-decoration: none;
    color: #ababab;
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
    vertical-align: bottom;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .nav_container nav .nav_item_container a:hover {
    color: #dfdfdf;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  .nav_container nav .nav_item_container .icon {
    width: fit-content;
    font-family: "Material Symbols Outlined", sans-serif;
    font-size: 3rem;
    vertical-align: middle;
    font-weight: 200;
    color: #ababab;
  }
  .main_container {
    width: 85vw;
    height: 100vh;
    position: relative;
    left: 15vw;
    top: 0;
    padding: 0;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

/*# sourceMappingURL=base.css.map */
