{% extends 'portfolio/base.html' %}
{% load static %}



{% block title %}
{% endblock %}

{% block stylesheets %}
<link href="{% static 'portfolio/css/about.css' %}" rel="stylesheet">
{% endblock %}


{% block body %}

<div class="about_container">

    <div class="top_header">
        <h1>About Me</h1>
        <div class="icon">person</div>
    </div>

    <div class="top_description">
        <h2>
            UI/UX Designer & Developer
        </h2>
        <p>
            Acaiberries gojiberries acid LSD ayahuasca acroyoga activatedcharcoal acunpuncture nativeamericanancestry, plantconsciousness gluten-free gestalt ontheplaya tie-dye peace vegan, familyconstellation harmony all-encompassing somatic quartermoon impermanent karmiconeness. Spokenword entheogen spiraldynamics seventhgeneration leo raindance, doublerainbow onetaste ritesofpassage watsu, felineacupuncture 
        </p>
        <img src="{% static 'portfolio/images/signature.png' %}" alt="">
    </div>

    <div class="personal_info">
        <h2>Personal Information</h2>
        <ul>
            <li><span>Name:</span>&nbsp;Dean Watson</li>
            <li><span>Age:</span>&nbsp;35</li>
            <li><span>Residence:</span>&nbsp;California</li>
            <li><span>Email:</span>&nbsp;dean.awatson@yahoo.com</li>
            <li><span>Name:</span>&nbsp;(714) 986-4317</li>
            <li><span>Contract:</span>&nbsp;Frelance, Sub-Contracting</li>

        </ul>
    </div>

    <div class="services_header">
        <h2>SERVICES</h2>
    </div>

    <div class="service_container">
        <div class="icon">computer</div>
        <h2>Website Development</h2>
        <p>
            Acaiberries gojiberries acid LSD ayahuasca acroyoga activatedcharcoal acunpuncture nativeamericanancestry, plantconsciousness gluten-free 
        </p>
    </div>

    <div class="service_container">
        <div class="icon">visibility</div>
        <h2>Website Design</h2>
        <p>
            Acaiberries gojiberries acid LSD ayahuasca acroyoga activatedcharcoal acunpuncture nativeamericanancestry, plantconsciousness gluten-free 
        </p>
    </div>

    <div class="service_container">
        <div class="icon">devices</div>
        <h2>Responsive Design</h2>
        <p>
            Acaiberries gojiberries acid LSD ayahuasca acroyoga activatedcharcoal acunpuncture nativeamericanancestry, plantconsciousness gluten-free 
        </p>
    </div>

    <div class="service_container">
        <div class="icon">camera</div>
        <h2>Media Management</h2>
        <p>
            Acaiberries gojiberries acid LSD ayahuasca acroyoga activatedcharcoal acunpuncture nativeamericanancestry, plantconsciousness gluten-free 
        </p>
    </div>
</div>


{% endblock %}


{% block javascripts %}
{% endblock %}